/* Importar la fuente */
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/* Estilos para la sección principal */
section {
  position: relative;
  width: 100%;
  height: auto; 
  display: flex;
  overflow: hidden; 
}

/* Estilos para el contenido */
section {
  background-image: url("inclusion.jpg"); /* Reemplaza 'ruta de la imagen' */
  background-size: cover;
  background-position: center;
}

section .contentbx {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px; /* padding para separar del borde */
}

/* Estilos para el formulario */
section .contentbx .form {
  width: 80%; /* ancho más adecuado para pantallas medianas */
  max-width: 550px; /* Añadido máximo ancho para evitar que se vea muy estirado en pantallas anchas */
  padding: 20px; /* Añadido padding para separar del borde */
}

/* Estilos para el título del formulario */
section .contentbx .form h2 {
  color: #494a48;
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 10px;
  border-bottom: 4px solid #6096ba;
  display: inline-block;
  letter-spacing: 1px;
}

/* Estilos para los campos del formulario */
section .contentbx .form .inputbx {
  margin-bottom: 20px;
}

.form-floating label {
  font-size: 18px; /* Tamaño de fuente */
  color: #495057; /* Color de texto */
  margin-top: 10px;
  margin-bottom: -1px;
  display: block; /* Hacer que los labels ocupen una línea completa */
  font-weight: 590; 
}

/* Estilos para los inputs del formulario */
section .contentbx .form .inputbx input,
section .contentbx .form .inputbx select {
  width: 100%;
  padding: 12px 20px;
  font-weight: 300;
  border: 1px solid #20272a;
  font-size: 18px;
  letter-spacing: 1px;
  background: transparent;
  border-radius: 10px;
  margin-top: 5px; 
  box-sizing: border-box; 
}

/* Estilos para el campo Tipo de Usuario al enfocarse */
section .contentbx .form .inputbx select:focus {
  border-color: #6096ba;
}

/* Estilos para las opciones del campo Tipo de Usuario */
section .contentbx .form .inputbx select option {
  font-size: 18px;
  color: #495057;
}

/* Estilos para el botón de enviar del formulario */
section .contentbx .form .inputbx button[type="submit"] {
  background: #274c77;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
  padding: 12px 20px; 
  font-size: 18px;
  border-radius: 10px;
  margin-top: 5px;
  box-sizing: border-box; 
  width: 100%; 
}

/* Estilos para el botón de enviar del formulario al pasar el cursor sobre él */
section .contentbx .form .inputbx button[type="submit"]:hover {
  background: #65a0c7;
}

/* Estilos para mensajes en el formulario */
section .contentbx .form .inputbx p {
  color: #0d70a2;
  font-size: 18px;
}

/* Estilos para enlaces del formulario */
section .contentbx .form .inputbx p a {
  color: #f51515;
  font-size: 18px;
}

/* Estilos para subtítulos del formulario */
section .contentbx .form h3 {
  color: #607d8b;
  text-align: center;
  margin: 30px 0 10px;
  font-weight: 500;
}




/* Estilos para el título del formulario */
section .contentbx .admin h2 {
  color: #494a48;
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 10px;
  border-bottom: 4px solid #6096ba;
  display: inline-block;
  letter-spacing: 1px;
}

/* Estilos para los botones del formulario */
section .contentbx .form .inputbx a.btn_regUsuario,
section .contentbx .form .inputbx a.btn_tabProf,
section .contentbx .form .inputbx a.btn_tabEstud,
section .contentbx .form .inputbx a.btnsalir,
section .contentbx .form .inputbx a.btnvolver {
  display: inline-block;
  background: #274c77;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  padding: 12px 20px; 
  font-size: 18px;
  border-radius: 10px;
  margin-top: 5px;
  box-sizing: border-box; 
  width: 100%;
  text-align: center; /* Centrar texto */
  text-decoration: none; /* Quitar subrayado del enlace */
}


/* Estilos para los botones del formulario al pasar el cursor sobre ellos */
section .contentbx .form .inputbx a.btn_reistrar:hover,
section .contentbx .form .inputbx a.btn_modificar:hover,
section .contentbx .form .inputbx a.btnCrear_eliminar:hover {
  background: #65a0c7;
}



/* Estilos para el contenido al estar en dispositivos con ancho máximo de 1024px */
@media (max-width: 1024px) {
  section .contentbx .form {
    width: 90%; /* Reducido el ancho para adaptarse mejor a pantallas de laptops */
  }
}

/* Estilos para el contenido al estar en dispositivos con ancho máximo de 768px (tablets y celulares) */
@media (max-width: 768px) {
  section .contentbx .form {
    width: 100%; /* Ancho completo en dispositivos pequeños */
  }
}



