:root {
  --azulGris: #8da9c4;
  --blanco: #fff;
  --fuente: "Quicksand", sans-serif;
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: var(--fuente);
  background-image: radial-gradient(
      circle at 17% 77%,
      rgba(17, 17, 17, 0.04) 0%,
      rgba(17, 17, 17, 0.04) 50%,
      rgba(197, 197, 197, 0.04) 50%,
      rgba(197, 197, 197, 0.04) 100%
    ),
    radial-gradient(
      circle at 26% 17%,
      rgba(64, 64, 64, 0.04) 0%,
      rgba(64, 64, 64, 0.04) 50%,
      rgba(244, 244, 244, 0.04) 50%,
      rgba(244, 244, 244, 0.04) 100%
    ),
    radial-gradient(
      circle at 44% 60%,
      rgba(177, 177, 177, 0.04) 0%,
      rgba(177, 177, 177, 0.04) 50%,
      rgba(187, 187, 187, 0.04) 50%,
      rgba(187, 187, 187, 0.04) 100%
    ),
    linear-gradient(19deg, rgb(28, 117, 250), rgb(34, 2, 159));
  display: flex;
  align-items: center;
  height: 100vh;
}

.contenedor {
  margin: 0 auto;

  max-width: 1800px;
  width: 95%;
}

.imagen-formulario {
  background-image: url("../img/NuevoLogo.png");
  background-position: center center;
  background-size: cover;
  height: 200px;
  flex: 0 0 calc(70%);
  position: relative;
}
@media (max-width: 768px) {
  .imagen-formulario {
    height: 30vh; /* Ajusta la altura para pantallas más pequeñas */
  }
}

@media (max-width: 480px) {
  .imagen-formulario {
    height: 20vh; /* Ajusta la altura para pantallas aún más pequeñas */
  }
}


/* Estilos para el campo Tipo de Usuario al enfocarse */
section .contentbx .form .inputbx select:focus {
  border-color: #6096ba;
}

/* Estilos para las opciones del campo Tipo de Usuario */
section .contentbx .form .inputbx select option {
  font-size: 18px;
  color: #495057;
}

.imagen-formulario::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (min-width: 768px) {
  .imagen-formulario {
    height: auto;
    background-position: right;
  }
}
@media (min-width: 1200px) {
  .imagen-formulario {
    background-position: center;
  }
}

@media (min-width: 768px) {
  .contenedor-formulario {
    display: flex;
  }
}

.formulario {
  padding: 60px;
  margin: auto;
  background-image: repeating-linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.04) 0px,
      rgba(255, 255, 255, 0.04) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(0deg, rgb(30, 35, 121), rgb(45, 106, 187));
}
.texto-formulario h2,
.input label,
.password-olvidada a,
.texto-formulario p {
  color: var(--blanco);
}
.texto-formulario h2 {
  font-size: 40px;
  text-align: center;
}
.texto-formulario p {
  font-size: 22px;
  text-align: center;
}
.input label {
  display: block;
  font-size: 22px;
  font-weight: bold;
  margin: 20px 0;
}
.password-olvidada a {
  display: inline-block;
  margin-top: 20px;
  font-size: 22px;
}
.input input {
  width: 100%;
  padding: 10px 16px;
  border-radius: 5px;
  outline: none;
}
.input input[type="submit"] {
  background-color: var(--azulGris);
  color: var(--blanco);
  font-size: 22px;
  font-weight: bold;
  border: none;
  margin-top: 20px;
  transition: background-color 0.3s ease-in-out;
}
.input input[type="submit"]:hover {
  cursor: pointer;
  background-color: var(--azulOscuro);
}
