.holy-grail header,
.hg-sidebar,
.holy-grail-content,
.boxUsuario2,
.boxUsuario {
  padding: 20px;
}

.holy-grail header {
  background-image: radial-gradient(
      circle at 17% 77%,
      rgba(17, 17, 17, 0.04) 0%,
      rgba(17, 17, 17, 0.04) 50%,
      rgba(197, 197, 197, 0.04) 50%,
      rgba(197, 197, 197, 0.04) 100%
    ),
    radial-gradient(
      circle at 26% 17%,
      rgba(64, 64, 64, 0.04) 0%,
      rgba(64, 64, 64, 0.04) 50%,
      rgba(244, 244, 244, 0.04) 50%,
      rgba(244, 244, 244, 0.04) 100%
    ),
    radial-gradient(
      circle at 44% 60%,
      rgba(177, 177, 177, 0.04) 0%,
      rgba(177, 177, 177, 0.04) 50%,
      rgba(187, 187, 187, 0.04) 50%,
      rgba(187, 187, 187, 0.04) 100%
    ),
    linear-gradient(19deg, rgb(28, 117, 250), rgb(34, 2, 159));
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}
.holy-grail footer{
  border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.hg-sidebar {
  background: rgb(27, 1, 1);
}

.holy-grail-content {
  color: #777;
  height: 100%;
}

.holy-grail {
  min-height: 100vh;
}

.holy-grail,
.holy-grail-body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
 
 

}

.holy-grail-content, .boxUsuario, .boxUsuario2 {
  flex: 1 1 auto;
  margin-bottom: 52px;
}

@media (min-width: 768px) {
  .holy-grail-sidebar-1 {
    order: -1;
  }

  .holy-grail-body {
    flex-direction: row;
  }

  .hg-sidebar {
    flex: 0 0 260px;
  }
}
/* Caja de usuario */
 .boxUsuario{
  color: #ffffff;
  height: 20px;
  text-align: right;
  ;
 }
 .boxUsuario2{
  color: #ffffff;
  height: 20px;
  text-align: left;
  ;
 }


 .btnUsuario {
  margin: 1%;
  border: none;
  width: 10em;
  height: 3em;
  border-radius: 3em;
  text-align: center;
  justify-content: center;
  align-items:center;
  gap: 12px;
  background: #00509d;
  cursor: pointer;
  transition: all 450ms ease-in-out;
  border: 1.5px solid white;
}

 .btnUsuario2 {
  margin: 1%;
  border: none;
  width: 15em;
  height: 3em;
  border-radius: 3em;
  text-align: center;
  justify-content: center;
  align-items:center;
  gap: 12px;
  background: #00509d;
  cursor: pointer;
  transition: all 450ms ease-in-out;
  border: 1.5px solid white;
}

/*título */
section .textAdmin{
  color: #494a48;
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 10px;
  border-bottom: 4px solid #0099ff;
  display: inline-block;
  margin-bottom: 20px; 
  text-align: center; /* Centrar el texto */
}
 /* fin de caja de usuario */