
/* Estilos generales */

/* Estilos para la sección principal */
section {
    position: relative;
    height: auto; 
    display: flex;
    overflow: hidden; 
  }
  
  section .contentbx {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px; /* padding para separar del borde */
  }
  
  /* Estilos para el formulario */
  section .contentbx .form {
    width: 80%; /* ancho más adecuado para pantallas medianas */
    max-width: 550px; /* Añadido máximo ancho para evitar que se vea muy estirado en pantallas anchas */
    padding: 20px; /* Añadido padding para separar del borde */
  }
  
  /* Estilos para el título del formulario */
  section .contentbx .form h2 {
    color: #494a48;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 10px;
    border-bottom: 4px solid #0099ff;
    display: inline-block;
    letter-spacing: 1px;
  }
  

  .mb-3 label {
    font-size: 18px; /* Tamaño de fuente */
    color: #42464b; /* Color de texto */
    margin-top: 10px;
    margin-bottom: -1px;
    display: block; /* Hacer que los labels ocupen una línea completa */
    font-weight: 590; 
  }
  
  section .contentbx .form select,
  section .contentbx .form input {
    font-size: 18px;
    display: block; 
    border-radius: 10px;
    margin-top: 5px; 
    box-sizing: border-box; 
    color: #393d42d1; /* Color de texto */
  }
  
   /* Estilos para el botón del formulario modificar*/
   section .contentbx .form .inputbx2 button[type="submit"] {
    background: #5465ff;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    padding: 12px 20px; 
    font-size: 18px;
    border-radius: 10px;
    margin-top: 5px;
    box-sizing: border-box; 
    width: 80%; 
  }
   /* Estilos para el botón del formulario cancelar*/
   section .contentbx .form .inputbx2 a {
    background: #8d99ae;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    padding: 12px 20px; 
    font-size: 18px;
    border-radius: 10px;
    margin-top: 5px;
    box-sizing: border-box; 
    width: 80%; 
  }
  
  
  
  /* Estilos para el contenido al estar en dispositivos con ancho máximo de 1024px */
  @media (max-width: 1024px) {
    section .contentbx .form {
      width: 90%; /* Reducido el ancho para adaptarse mejor a pantallas de laptops */
    }
  }
  
  /* Estilos para el contenido al estar en dispositivos con ancho máximo de 768px (tablets y celulares) */
  @media (max-width: 768px) {
    section .contentbx .form {
      width: 100%; /* Ancho completo en dispositivos pequeños */
    }
  }
  

  
  
  